<span [ngSwitch]="opt.id">
  <ng-container *ngSwitchCase="'route_icon'">
    <a *ngIf="params; else disableOpt"
    mat-mini-fab 
    [routerLink]="'/'+opt.action"
    [data]="opt.data"
    [queryParams]="params"
    [target]="opt.target"
    [title]="opt.title"
 >
     <mat-icon>{{opt.template}}</mat-icon>
   </a>

   <ng-template #disableOpt>
    <a mat-mini-fab 
       disabled
       [title]="opt.title"><mat-icon>{{opt.template}}</mat-icon></a>
    </ng-template>
  </ng-container>

  <a *ngSwitchCase="'route_text'"
     [routerLink]="'/'+opt.action" 
     [queryParams]="params"
  >test</a>

  <a *ngSwitchCase="'link_icon'"
     [title]="opt.title"
     mat-mini-fab 
     [color]="opt.color" 
     (click)="goToLink()"
  >   
   <mat-icon>{{opt.template}}</mat-icon>
</a>

  <a *ngSwitchCase="'link_text'"
    (click)="goToLink(opt)"
  >{{opt.template}}</a>

    <button *ngSwitchCase="'event_icon'" 
            type="button" 
            mat-mini-fab 
            [color]="opt.color" 
            [aria-label]="opt.ariaLabel"
            (click)="emitEventOpt()">
        <mat-icon>{{opt.template}}</mat-icon>
    </button>
</span>