<mat-card>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <div *ngFor="let fieldViewOptions of fieldsViewOptionsFilter" 
         class="item" 
         [fxFlex.xs]="fieldViewOptions.widthXs" 
         [fxFlex.sm]="fieldViewOptions.widthSm" 
         [fxFlex.md]="fieldViewOptions.widthMd" 
         [fxFlex.lg]="fieldViewOptions.widthLg" 
         [fxFlex.xl]="fieldViewOptions.widthXl" 
         [fxFlex.gt-sm]="fieldViewOptions.widthGtSm" 
    >
      <core-field-view [fieldViewOptions]="fieldViewOptions" [field]="fieldset.controls[fieldViewOptions.field]"></core-field-view>  
    </div>
  </mat-card-content>
</mat-card>