<mat-form-field >
  <mat-label>{{config.label}}</mat-label>
  <input matInput 
         *ngIf="config.readonly"  
         [formControl]="control" 
         [readonly]="true">

  <mat-select *ngIf="!config.readonly"
              [multiple]="config.multiple"
              [formControl]="control"
  >
    <mat-option [value]="null" *ngIf="!config.multiple">--Seleccione--</mat-option>
    <mat-option *ngFor="let opt of config.options" [value]="opt">
      {{opt}}
    </mat-option>
  </mat-select>

  <mat-error *ngFor="let v of config.validatorMsgs">
    <span *ngIf="control.hasError(v.id)">{{v.message}}</span>
    <core-error-unique-route *ngIf="control.hasError('notUnique') && v.id == 'notUnique' && v.route" 
                             [validatorMsg]="v" 
                             [control]="control"></core-error-unique-route>
  </mat-error>
</mat-form-field>