<mat-form-field >
  <mat-label>{{title}}</mat-label>
  <mat-select [formControl]="field">
    <mat-option [value]="null">--Seleccione--</mat-option>
    <mat-option *ngFor="let opt of options" [value]="opt">
      {{opt}}
    </mat-option>
  </mat-select>

  <mat-error *ngFor="let v of validatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
  </mat-error>

  <mat-error *ngFor="let v of asyncValidatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
    <core-error-unique-route *ngIf="field.hasError('notUnique') && v.id == 'notUnique' && v.route" 
                             [avo]="v" 
                             [field]="field"></core-error-unique-route>
  </mat-error>
</mat-form-field>