<mat-form-field>
  <mat-label>{{title}}</mat-label>

  <input type="text" matInput [formControl]="field" [matAutocomplete]="auto">
  <button type="button" mat-icon-button matSuffix (click)="field.setValue(null)">
    <mat-icon>clear</mat-icon>
  </button>
  <mat-error *ngIf="field.hasError('required')">Debe completar valor</mat-error>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  
</mat-form-field>