<div *ngIf="fieldViewOptions.aux">
  <div [ngSwitch]="fieldViewOptions.aux.id">
    <a *ngSwitchCase="'router_link'" [routerLink]="'/'+fieldViewOptions.aux.path" [queryParams]="params">
      <core-field-view [field]="data[fieldViewOptions.field]" [fieldViewOptions]="fieldViewOptions"></core-field-view>
    </a>
    <core-input-persist *ngSwitchCase="'input_persist'" 
                        [value]="data[fieldViewOptions.field]" 
                        [fieldViewOptions]="fieldViewOptions" 
                        [params]="params"
                        [api]=fieldViewOptions.aux.api>
    </core-input-persist>
  </div>
  

</div>
<div *ngIf="!fieldViewOptions.aux">
  <core-field-view [field]="data[fieldViewOptions.field]" [fieldViewOptions]="fieldViewOptions"></core-field-view>
</div>          