<span *ngIf="field.aux">
  <span [ngSwitch]="fied.aux.id">
    <a *ngSwitchCase="'router_link'" [routerLink]="'/'+field.aux.path" [queryParams]="params">
      <core-field-view [field]="field"></core-field-view>
    </a>
    <core-input-persist *ngSwitchCase="'input_persist'" 
                        [field]="field" 
                        [params]="params"
                        [api]=field.aux.api
                        [entityName]=field.aux.entityName
                        [fieldName]=field.aux.fieldName></core-input-persist>
  </span>
  

</span>
<span *ngIf="!field.aux">
  <core-field-view [field]="field"></core-field-view>
</span>          