<ng-container *ngIf="field.aux">
  <ng-container [ngSwitch]="field.aux.id">
    <a *ngSwitchCase="'router_link'" [routerLink]="'/'+field.aux.path" [queryParams]="params">
      <core-field-view [field]="field"></core-field-view>
    </a>
    <core-input-persist *ngSwitchCase="'input_persist'" 
                        [field]="field" 
                        [params]="params"
                        [api]=field.aux.api
                        [entityName]=field.aux.entityName
                        [fieldName]=field.aux.fieldName></core-input-persist>
  </ng-container>
  

</ng-container>
<ng-container *ngIf="!field.aux">
  <core-field-view [field]="field"></core-field-view>
</ng-container>          