<mat-form-field [style.width]="width"> 
  <mat-label *ngIf="title">{{title}}</mat-label>
  <input matInput
         [readonly]="readonly"
         [type]="type"
         [formControl]="field" 
         [placeholder]="placeholder"
  >

  <mat-error *ngFor="let v of validatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
  </mat-error>

  <mat-error *ngFor="let v of asyncValidatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
      <span *ngIf="field.hasError('notUnique') && v.route">
      &nbsp;
      <a *ngIf="v.route" routerLink="/{{v.route}}" [queryParams]="v.queryParams">Cargar</a></span>
  </mat-error>
</mat-form-field>