<mat-form-field [style.width]="width"> 
  <mat-label *ngIf="title">{{title}}</mat-label>
  
  <input matInput
         [readonly]="readonly"
         [type]="type"
         [formControl]="field" 
         [placeholder]="placeholder"
  >

  <mat-error *ngFor="let v of validatorMsgs">
    <ng-container *ngIf="field.hasError(v.id)">{{v.message}}</ng-container>
    <ng-container *ngIf="v.id == 'notUnique' && v.route">&nbsp;
      <core-error-unique-route [validatorMsg]="v" 
                               [field]="field"></core-error-unique-route>
    </ng-container>
  </mat-error>
</mat-form-field>