<mat-card>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <div *ngFor="let fieldViewOptions of fieldsViewOptionsFilter" 
         class="item" 
         [fxFlex.xs]="fieldViewOptions.width.xs" 
         [fxFlex.sm]="fieldViewOptions.width.sm" 
         [fxFlex.md]="fieldViewOptions.width.md" 
         [fxFlex.lg]="fieldViewOptions.width.lg" 
         [fxFlex.xl]="fieldViewOptions.width.xl" 
         [fxFlex.gt-sm]="fieldViewOptions.width.gtSm" 
    >
      <core-field-view [fieldViewOptions]="fieldViewOptions" [field]="fieldset.controls[fieldViewOptions.field]"></core-field-view>  
    </div>
  </mat-card-content>
</mat-card>