<div fxLayout="row wrap" [formGroup]="control">
  <ng-container *ngFor="let item of config.controls | keyvalue: sort; let i = index">
    <div 
      *ngIf="item.value.component" 
      class="item" 
      [fxFlex.xs]="item.value['width']['xs']" 
      [fxFlex.sm]="item.value['width']['sm']" 
      [fxFlex.md]="item.value['width']['md']" 
      [fxFlex.lg]="item.value['width']['lg']" 
      [fxFlex.xl]="item.value['width']['xl']" 
      [fxFlex.lt-sm]="item.value['width']['ltSm']"
      [fxFlex.lt-md]="item.value['width']['ltMd']"
      [fxFlex.lt-lg]="item.value['width']['ltLg']"
      [fxFlex.lt-xl]="item.value['width']['ltXl']"
      [fxFlex.gt-xs]="item.value['width']['gtXs']"
      [fxFlex.gt-sm]="item.value['width']['gtSm']" 
      [fxFlex.gt-md]="item.value['width']['gtMd']" 
      [fxFlex.gt-lg]="item.value['width']['gtLg']">

      <core-abstract-control-view [control]="control.controls[item.key]"
                                  [config]="item.value"></core-abstract-control-view>  
    </div>

  </ng-container>
</div>