<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content #content> 
    <table>
      <tr>
        <th *ngFor="let fvo of fieldsViewOptionsFilter">{{fvo.label}}</th>
        <th>Opciones</th>
      </tr>
    
      <tr *ngFor="let form of forms; index as i" [formGroup]="form" > 
        <td *ngFor="let fvo of fieldsViewOptionsFilter">
          <core-field-view [fieldViewOptions]="fvo" [field]="form.controls[fvo.field]"></core-field-view>
        </td>
        <td>
          <button mat-mini-fab [disabled]="form.pending || isSubmitted[i]" type="button" color="primary" (click)="onSubmit(i)"><mat-icon>save</mat-icon></button>
          <button mat-mini-fab color="warn" (click)="remove(i)" type="button"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </table>
    <mat-paginator *ngIf="display && length"
                   [length]="length"
                   [pageSize]="display.getSize()"
                   [pageIndex]="display.getPage()-1"
                   (page)="onChangePage($event)"
                   [pageSizeOptions]="[10, 25, 50, 100]" 
                   showFirstLastButtons>
    </mat-paginator>
    <button mat-mini-fab color="primary" (click)="add()" type="button"><mat-icon>add</mat-icon></button>    
  </mat-card-content>
</mat-card>
