<mat-card>
  <mat-card-header>
    <mat-card-title fxFlex="auto">
      {{title}}    
    </mat-card-title>
    <!--core-input-search-go *ngIf="inputSearchGo" fxFlex="auto" [entityName]="entityName"></core-input-search-go-->
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let g of fieldset.controls; let i=index" [formGroup]="fg(i)">
      <div fxLayout="row wrap" *ngIf="!_delete(i).value">
        <div fxLayout="row wrap" fxFlex="90%">
          <ng-container *ngFor="let item of (g).controls | keyvalue: g.sort">
          
            <div *ngIf="item.value.type.id != 'hidden'"
                class="item" 
                [fxFlex.xs]="item.value.width.xs" 
                [fxFlex.sm]="item.value.width.sm" 
                [fxFlex.md]="item.value.width.md" 
                [fxFlex.lg]="item.value.width.lg" 
                [fxFlex.xl]="item.value.width.xl" 
                [fxFlex.lt-sm]="item.value.width.ltSm"
                [fxFlex.lt-md]="item.value.width.ltMd"
                [fxFlex.lt-lg]="item.value.width.ltLg"
                [fxFlex.lt-xl]="item.value.width.ltXl"
                [fxFlex.gt-xs]="item.value.width.gtXs"
                [fxFlex.gt-sm]="item.value.width.gtSm" 
                [fxFlex.gt-md]="item.value.width.gtMd" 
                [fxFlex.gt-lg]="item.value.width.gtLg" 
              >
              <core-field-view [field]="item.value"></core-field-view>  
            </div>
          </ng-container>

        </div>

        <div fxFlex="10%">
          <button mat-mini-fab color="warn" (click)="remove(i)" type="button"><mat-icon>delete</mat-icon></button>
        </div>
      </div>

      <ng-container *ngIf="!_delete(i).value"><mat-divider></mat-divider><br></ng-container>
    </ng-container>
    <button mat-mini-fab color="primary" (click)="add()" type="button"><mat-icon>add</mat-icon></button>

  </mat-card-content>
</mat-card>