<ng-container *ngIf="wrap; else noWrap">

  <ng-container [ngSwitch]="wrap.id">
    <core-field-wrap-router-link *ngSwitchCase="'router_link'"
                        [field]="field" 
                        [config]="config"
                        [path]="wrap.path"
                        [params]=wrap.params></core-field-wrap-router-link>


    <core-input-persist *ngSwitchCase="'input_persist'"
                        [config]="config" 
                        [field]="field" 
                        [params]="params"
                        [api]=wrap.api
                        [entityName]=wrap.entityName
                        [fieldName]=wrap.fieldName></core-input-persist>

    <core-field-wrap-card *ngSwitchCase="'card'"
                        [config]="config" 
                        [field]="field" 
                        [backgroundColor]=wrap.backgroundColor></core-field-wrap-card>               
  </ng-container>
  
</ng-container>

<ng-template #noWrap>
  <core-field-view [field]="field" 
                   [config]="config"></core-field-view>
</ng-template>          