<mat-form-field >
  <mat-label>{{config.label}}</mat-label>
  <mat-select [multiple]="config.multiple" [formControl]="control">
    <mat-option [value]="null" *ngIf="!config.multiple">--Seleccione--</mat-option>
    <mat-option *ngFor="let opt of (options$ | async)" [value]="opt.id">
      <core-label [id]="opt.id" [entityName]="config.entityName"></core-label>
    </mat-option>
  </mat-select>

  <mat-error *ngFor="let v of config.validatorMsgs">
    <span *ngIf="control.hasError(v.id)">{{v.message}}</span>
    <core-error-unique-route *ngIf="control.hasError('notUnique') && v.id == 'notUnique' && v.route" 
                             [validatorMsg]="v" 
                             [control]="control"></core-error-unique-route>
  </mat-error>
</mat-form-field>