<mat-card>
  <mat-card-header>
    <mat-card-title fxFlex="auto">
      {{title}}    
    </mat-card-title>
    <core-input-search-go *ngIf="options.inputSearchGo" fxFlex="auto" [entityName]="entityName"></core-input-search-go>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <div *ngFor="let fieldControl of fieldsControlFilter" 
         class="item" 
         [fxFlex.xs]="fieldControl.widthXs" 
         [fxFlex.sm]="fieldControl.widthSm" 
         [fxFlex.md]="fieldControl.widthMd" 
         [fxFlex.lg]="fieldControl.widthLg" 
         [fxFlex.xl]="fieldControl.widthXl" 
         [fxFlex.lt-sm]="fieldControl.widthLtSm"
         [fxFlex.lt-md]="fieldControl.widthLtMd"
         [fxFlex.lt-lg]="fieldControl.widthLtLg"
         [fxFlex.lt-xl]="fieldControl.widthLtXl"
         [fxFlex.gt-xs]="fieldControl.widthGtXs"
         [fxFlex.gt-sm]="fieldControl.widthGtSm" 
         [fxFlex.gt-md]="fieldControl.widthGtMd" 
         [fxFlex.gt-lg]="fieldControl.widthGtLg" 
    >
      <core-field-input [fieldControl]="fieldControl" [field]="fieldset.controls[fieldControl.field]"></core-field-input>  
    </div>
  </mat-card-content>
</mat-card>