<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}    
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <div *ngFor="let fieldControl of fieldsControlFilter" 
         class="item" 
         [fxFlex.xs]="fieldControl.widthXs" 
         [fxFlex.sm]="fieldControl.widthSm" 
         [fxFlex.md]="fieldControl.widthMd" 
         [fxFlex.lg]="fieldControl.widthLg" 
         [fxFlex.xl]="fieldControl.widthXl" 
    >
      <core-field-input [fieldControl]="fieldControl" [field]="fieldset.controls[fieldControl.field]"></core-field-input>  
    </div>
  </mat-card-content>
</mat-card>