<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}} <button mat-mini-fab color="primary" (click)="copyContent()"><mat-icon>content_copy</mat-icon></button>
      <button mat-mini-fab color="primary" (click)="printContent()"><mat-icon>print</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" #content>
    <div *ngFor="let item of fieldset.controls | keyvalue"
         class="item"       
         [fxFlex.xs]="item.value.widthXs"
         [fxFlex.sm]="item.value.widthSm"
         [fxFlex.md]="item.value.widthMd"
         [fxFlex.lg]="item.value.widthLg"
         [fxFlex.xl]="item.value.widthXl"
         [fxFlex.lt-sm]="item.value.widthLtSm"
         [fxFlex.lt-md]="item.value.widthLtMd"
         [fxFlex.lt-lg]="item.value.widthLtLg"
         [fxFlex.lt-xl]="item.value.widthLtXl"
         [fxFlex.gt-xs]="item.value.widthGtXs"
         [fxFlex.gt-sm]="item.value.widthGtSm"
         [fxFlex.gt-md]="item.value.widthGtMd"
         [fxFlex.gt-lg]="item.value.widthGtLg"
    >
      <div><strong>{{item.value.label}}</strong></div>
      <core-field-view-aux [field]="item.value"></core-field-view-aux>  
    </div>
  </mat-card-content>
</mat-card>