<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}} <button mat-mini-fab color="primary" (click)="copyContent()"><mat-icon>content_copy</mat-icon></button>
      <button mat-mini-fab color="primary" (click)="printContent()"><mat-icon>print</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" #content>
    <div *ngFor="let fieldConfig of fieldsConfig" 
         class="item"       
         [fxFlex.xs]="fieldConfig.widthXs"
         [fxFlex.sm]="fieldConfig.widthSm"
         [fxFlex.md]="fieldConfig.widthMd"
         [fxFlex.lg]="fieldConfig.widthLg"
         [fxFlex.xl]="fieldConfig.widthXl"
         [fxFlex.lt-sm]="fieldConfig.widthLtSm"
         [fxFlex.lt-md]="fieldConfig.widthLtMd"
         [fxFlex.lt-lg]="fieldConfig.widthLtLg"
         [fxFlex.lt-xl]="fieldConfig.widthLtXl"
         [fxFlex.gt-xs]="fieldConfig.widthGtXs"
         [fxFlex.gt-sm]="fieldConfig.widthGtSm"
         [fxFlex.gt-md]="fieldConfig.widthGtMd"
         [fxFlex.gt-lg]="fieldConfig.widthGtLg"
    >
      <div><strong>{{fieldConfig.label}}</strong></div>
      <core-field-view [fieldConfig]="fieldConfig" [data]="data"></core-field-view>  
    </div>
  </mat-card-content>
</mat-card>