<mat-form-field>
  <mat-label>{{title}}</mat-label>
  <input matInput [matDatepicker]="fieldPicker" [formControl]="field" placeholder="{{placeholder}}">
  <mat-datepicker-toggle matSuffix [for]="fieldPicker"></mat-datepicker-toggle>
  <mat-datepicker-toggle matSuffix (click)="field.setValue(null)">
    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #fieldPicker></mat-datepicker>
  <mat-error *ngFor="let v of validatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
  </mat-error>

  <mat-error *ngFor="let v of asyncValidatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
      <span *ngIf="field.hasError('notUnique') && v.route">
      &nbsp;
      <a *ngIf="v.route" routerLink="/{{v.route}}" [queryParams]="v.queryParams">Cargar</a></span>
  </mat-error>

  <mat-error *ngIf="field.hasError('matDatepickerParse')">El formato es incorrecto</mat-error>  
</mat-form-field>