<mat-card>
  <mat-card-header>
    <mat-card-title fxFlex="auto">
      {{title}}    
    </mat-card-title>
    
    <core-input-search-go *ngIf="inputSearchGo" fxFlex="auto" [entityName]="entityName"></core-input-search-go>  
  </mat-card-header>

  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <div class="mat-subheading-2 highlightText" [innerHTML]="intro" fxFlex="100%"></div>

    <ng-container *ngFor="let item of config.controls | keyvalue: config.sort">
      <div *ngIf="item.value.type.id != 'hidden'" 
          class="item" 
          [fxFlex.xs]="item.value.width.xs" 
          [fxFlex.sm]="item.value.width.sm" 
          [fxFlex.md]="item.value.width.md" 
          [fxFlex.lg]="item.value.width.lg" 
          [fxFlex.xl]="item.value.width.xl" 
          [fxFlex.lt-sm]="item.value.width.ltSm"
          [fxFlex.lt-md]="item.value.width.ltMd"
          [fxFlex.lt-lg]="item.value.width.ltLg"
          [fxFlex.lt-xl]="item.value.width.ltXl"
          [fxFlex.gt-xs]="item.value.width.gtXs"
          [fxFlex.gt-sm]="item.value.width.gtSm" 
          [fxFlex.gt-md]="item.value.width.gtMd" 
          [fxFlex.gt-lg]="item.value.width.gtLg">

        <core-field-view [field]="fieldset.controls[item.key]" 
                         [config]="item.value"></core-field-view>  
      </div>

    </ng-container>
    <!--div *ngFor="let v of fieldset.validatorMsgs">
      <mat-error *ngIf="fieldset.hasError(v.id)">{{v.message}}</mat-error>
    </div-->
  </mat-card-content>
</mat-card>