<mat-card>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <div *ngFor="let item of fieldset.controls | keyvalue" 
         class="item" 
         [fxFlex.xs]="item.width.xs" 
         [fxFlex.sm]="item.width.sm" 
         [fxFlex.md]="item.width.md" 
         [fxFlex.lg]="item.width.lg" 
         [fxFlex.xl]="item.width.xl" 
         [fxFlex.gt-sm]="item.width.gtSm" 
    >
      <core-field-view [field]="item.value"></core-field-view>  
    </div>
  </mat-card-content>
</mat-card>