<mat-form-field >
  <mat-label>{{config.label}}</mat-label>
  
  <input *ngIf="config.readonly && control.value" 
         matInput 
         [readonly]="true"
         value="{{config.options[0]}}"
  >

  <input *ngIf="config.readonly && !control.value" 
         matInput 
         [readonly]="true"
         value="{{config.options[1]}}"
  >

  <mat-select *ngIf="!config.readonly" 
              [formControl]="control"
  >
    <mat-option [value]="null">--Seleccione--</mat-option>
    <mat-option [value]="'true'">{{config.options[0]}}</mat-option>
    <mat-option [value]="'false'">{{config.options[1]}}</mat-option>
  </mat-select>
  <mat-error *ngIf="control.hasError('required')">Debe completar valor</mat-error>

</mat-form-field>