<mat-form-field *ngIf="load$ | async">
  <mat-label>{{title}}</mat-label>

  <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
  <button type="button" mat-icon-button matSuffix (click)="field.setValue(null)">
    <mat-icon>autorenew</mat-icon>
  </button>
  <mat-error *ngIf="searchControl.hasError('required')">Debe completar valor</mat-error>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <core-label [id]="option.id" [entityName]="entityName"></core-label>
    </mat-option>
  </mat-autocomplete>
  
</mat-form-field>