<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="(loadParams$ | async); else loading">
  <ng-container *ngIf="(loadDisplay$ | async); else loading">
    <mat-progress-bar *ngIf="!load" 
                      mode="indeterminate"></mat-progress-bar>

    <core-search-dynamic *ngIf="searchForm" [display]="display$.value" 
                         [config]="searchConfig"
                         [form]="searchForm"></core-search-dynamic>
    
    <core-table-dynamic [length]="length" 
                        [display]="display$.value"
                        [fieldset]="form" 
                        [config]="config"
                        [optField]="nestedComponent.optField"
                        [optTitle]="nestedComponent.optTitle"
                        [optColumn]="nestedComponent.optColumn"
                        [title]="nestedComponent.title"
                        [entityName]="nestedComponent.entityName"
                        [sortActive]="nestedComponent.sortActive"
                        [sortDirection]="nestedComponent.sortDirection"
                        [sortDisabled]="nestedComponent.sortDisabled"
                        [serverSortTranslate]="nestedComponent.serverSortTranslate"
                        [serverSortObligatory]="nestedComponent.serverSortObligatory"
                        [showPaginator]="nestedComponent.showPaginator"
                        [pageSizeOptions]="nestedComponent.pageSizeOptions"></core-table-dynamic>
  </ng-container>
</ng-container>
