<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<form *ngIf="(loadParams$ | async); else loading" 
      [formGroup]="adminForm" 
      (ngSubmit)="onSubmit()" 
      novalidate autocomplete="off">
  <div *ngIf="(loadDisplay$ | async); else loading">
    <div  *ngFor="let item of configComponent | keyvalue: configForm.sort; let i = index">
      <ng-container [ngSwitch]="item.value.id">
        <core-fieldset-dynamic *ngSwitchCase="'fieldset'" 
                               [config]="configForm.controls[item.key]"
                               [fieldset]="adminForm.controls[item.key]"
                               [entityName]="item.value.entityName"
                               [intro]="item.value.intro"
                               [title]="item.value.title"
                               [inputSearchGo]="item.value.inputSearchGo"></core-fieldset-dynamic>
      
        <!--core-fieldset-array-dynamic *ngSwitchCase="'fieldset-array'" 
                                     [fieldset]="item.value"
                                     [title]="item.value.options.title"></core-fieldset-array-dynamic-->

        <core-table-dynamic *ngSwitchCase="'table'"
                            [config]="configForm.controls[item.key]"
                            [fieldset]="adminForm.controls[item.key]"
                            [title]="item.value.title"
                            [sortDisabled]="item.value.sortDisabled"
                            [optTitle]="item.value.optTitle"
                            [titleLoad]="item.value.titleLoad"></core-table-dynamic>
      </ng-container>      
    </div>

    <core-field-view *ngFor="let o of optComponent" [field]="o.field" [config]="o.config"></core-field-view>          
   
    <p>Debug Form value: {{ adminForm.value | json }}</p>
    <p>Debug Form status: {{ adminForm.status | json }}</p>
  </div>
</form>
