<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card *ngIf="inputSearchGo">
  <mat-card-content>
    <core-input-search-go fxFlex="auto" [entityName]="entityName"></core-input-search-go>  
  </mat-card-content>
</mat-card>

<form *ngIf="(loadParams$ | async); else loading" 
      [formGroup]="form" 
      (ngSubmit)="onSubmit()" 
      novalidate autocomplete="off">
  <ng-container *ngIf="(loadDisplay$ | async); else loading">
    <ng-container  *ngFor="let item of nestedComponents | keyvalue: nestedComponentsSort; let i = index">
      <core-abstract-control-view [viewOptions]="item.value" 
                                  [config]="config.controls[item.key]" 
                                  [control]="form.controls[item.key]"></core-abstract-control-view>
    </ng-container>
    
    <mat-card *ngIf="optFooter.length">
      <mat-card-content>
        <core-abstract-control-view *ngFor="let o of optFooter" 
                                    [control]="o.control" 
                                    [config]="o.config" 
                                    [viewOptions]="o.viewOptions"></core-abstract-control-view>          
      </mat-card-content>
    </mat-card>
  
  <!--p>Debug Form value: {{ form.value | json }}</p>
  <p>Debug Form status: {{ form.status | json }}</p-->
  </ng-container>
</form>
