<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card *ngIf="inputSearchGo">
  <mat-card-content>
    <core-input-search-go fxFlex="auto" [entityName]="entityName"></core-input-search-go>  
  </mat-card-content>
</mat-card>


<form *ngIf="(loadParams$ | async); else loading" 
      [formGroup]="adminForm" 
      (ngSubmit)="onSubmit()" 
      novalidate autocomplete="off">
  <ng-container *ngIf="(loadDisplay$ | async); else loading">

    <ng-container  *ngFor="let item of configComponent | keyvalue: configForm.sort; let i = index">
      <ng-container [ngSwitch]="item.value.id">
        <core-fieldset-dynamic *ngSwitchCase="'fieldset'" 
                               [config]="configForm.controls[item.key]"
                               [fieldset]="adminForm.controls[item.key]"
                               [entityName]="item.value.entityName"
                               [intro]="item.value.intro"
                               [title]="item.value.title"
                               [inputSearchGo]="item.value.inputSearchGo"></core-fieldset-dynamic>
      
        <!--core-fieldset-array-dynamic *ngSwitchCase="'fieldset-array'" 
                                     [fieldset]="item.value"
                                     [title]="item.value.options.title"></core-fieldset-array-dynamic-->

        <core-table-dynamic *ngSwitchCase="'table'"
                            [config]="configForm.controls[item.key]"
                            [fieldset]="adminForm.controls[item.key]"
                            [title]="item.value.title"
                            [sortDisabled]="item.value.sortDisabled"
                            [optTitle]="item.value.optTitle"
                            [titleLoad]="item.value.titleLoad"></core-table-dynamic>
      </ng-container>      
    </ng-container>

    
  <mat-card *ngIf="optComponent.length">
    <mat-card-content>
      <core-field-view *ngFor="let o of optComponent" [field]="o.field" [config]="o.config"></core-field-view>          
    </mat-card-content>
  </mat-card>
  
  <p>Debug Form value: {{ adminForm.value | json }}</p>
  <p>Debug Form status: {{ adminForm.status | json }}</p>
  </ng-container>
</form>
