<mat-form-field>
  <mat-label>{{title}}</mat-label>
  <input matInput [matDatepicker]="fieldPicker" [formControl]="field" placeholder="{{placeholder}}">
  <mat-datepicker-toggle matSuffix [for]="fieldPicker"></mat-datepicker-toggle>
  <mat-datepicker-toggle matSuffix (click)="clear()">
    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #fieldPicker
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, fieldPicker)"
  ></mat-datepicker>

  <mat-error *ngFor="let v of validatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
  </mat-error>
  <mat-error *ngFor="let v of asyncValidatorOpts">
    
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
    <core-error-unique-route *ngIf="field.hasError('notUnique') && v.id == 'notUnique' && v.route" 
                             [avo]="v" 
                             [field]="field"></core-error-unique-route>
  </mat-error>
</mat-form-field>