<span [ngSwitch]="config.type.id">

  <core-input-date *ngSwitchCase="'input_date'" 
                   [field]="field" 
                   [title]="config.label"
                   [readonly]="config.readonly"
                   [validatorMsgs]="config.validatorMsgs"
                   [placeholder]="config.placeholder"></core-input-date>
  
  <core-input-timepicker *ngSwitchCase="'input_time'" 
                         [field]="field" 
                         [title]="config.label"
                         [placeholder]="config.placeholder"></core-input-timepicker>
  
  <core-input-year *ngSwitchCase="'input_year'" 
                   [field]="field" 
                   [title]="config.label"
                   [placeholder]="config.placeholder"></core-input-year>  
  
  <core-input-ym *ngSwitchCase="'input_year_month'" 
                   [field]="field" 
                   [title]="config.label"
                   [readonly]="config.readonly"
                   [validatorMsgs]="config.validatorMsgs"
                   [placeholder]="config.placeholder"></core-input-ym>  
  
  <core-textarea *ngSwitchCase="'textarea'" 
                       [field]="field" 
                       [title]="config.label"
                       [readonly]="config.readonly"
                       [validatorMsgs]="config.validatorMsgs"
                       [placeholder]="config.placeholder"></core-textarea>
  
  <core-input-checkbox *ngSwitchCase="'input_checkbox'" 
                       [field]="field" 
                       [title]="config.label" 
                       [titleDisabled]="config.type.labelDisabled"
                       [placeholder]="config.placeholder"></core-input-checkbox>
  
  <core-input-select-param *ngSwitchCase="'input_select_param'" 
                           [field]="field" 
                           [title]="config.label" 
                           [options]="config.type.options"
                           [validatorMsgs]="config.validatorMsgs"
                           [placeholder]="config.placeholder"></core-input-select-param>
  
  <core-input-select *ngSwitchCase="'input_select'" 
                     [field]="field" 
                     [title]="config.label" 
                     [entityName]="config.type.entityName"
                     [validatorMsgs]="config.validatorMsgs"
                     [placeholder]="config.placeholder"></core-input-select>
  
  <core-input-select-checkbox *ngSwitchCase="'input_select_checkbox'" 
                              [field]="field" 
                              [title]="config.label" 
                              [options]="config.type.options"
                              [placeholder]="config.placeholder"></core-input-select-checkbox>

  <core-input-autocomplete *ngSwitchCase="'input_autocomplete'" 
                           [field]="field" 
                           [title]="config.label" 
                           [entityName]="config.type.entityName" 
                           [adminRoute]="config.type.adminRoute"
                           [placeholder]="config.placeholder"></core-input-autocomplete>

  <core-input-text *ngSwitchCase="'input_text'" 
                   [field]="field" 
                   [title]="config.label" 
                   [width]="config.type.width"
                   [readonly]="config.readonly"
                   [validatorMsgs]="config.validatorMsgs"
                   [placeholder]="config.placeholder"></core-input-text>

  <core-input-upload *ngSwitchCase="'input_upload'" 
                     [field]="field" 
                     [title]="config.label" 
                     [entityName]="config.type.entityName"></core-input-upload >

  <span *ngSwitchCase="'download'">
    <core-download *ngIf="field" 
                   [id]="field" 
                   [entityName]="config.type.entityName"></core-download>
  </span>

  <span *ngSwitchCase="'date'">{{field.value | toDate | date:config.type.format}}</span>
  
  <span *ngSwitchCase="'yes_no'">{{field.value | siNo}}</span>
  
  <span *ngSwitchCase="'summary'">{{field.value | summary}}</span>
  
  <span *ngSwitchCase="'label'">
    <core-label *ngIf="field" 
                [id]="field.value" 
                [entityName]="config.type.entityName"></core-label></span>

  <span *ngSwitchCase="'field_label'">
    <core-field-label *ngIf="field" 
                      [id]="field" 
                      [entityName]="config.type.entityName" 
                      [fieldNames]="config.type.fieldNames" 
                      [join]="config.type.join"></core-field-label></span>
  
  <span *ngSwitchCase="'tree'">
    <core-field-tree *ngIf="field" 
                     [id]="field" 
                     [tree]="config.type.tree"></core-field-tree></span>
  
  <span *ngSwitchCase="'um'">
    <core-um *ngIf="field" 
             [data]="field" 
             [fields]="config.type.fields"></core-um></span>

  <span *ngSwitchCase="'default'">{{field.value}}</span>

  <ng-container *ngSwitchCase="'route_icon'">
    <core-route-icon [field]="field"
                     [icon]="config.type.icon"
                     [routerLink]="config.type.routerLink"
                     [key]="config.type.key"
                     [color]="config.type.color"
                     [target]="config.type.target"
                     [title]="config.type.title"></core-route-icon>
                     
  </ng-container>


  <ng-container *ngSwitchCase="'event_button'">
    <core-event-button [field]="field"
                       [fieldEvent]="config.type.fieldEvent"
                     [text]="config.type.text"
                     [color]="config.type.color"
                     [action]="config.type.action"
                     [ariaLabel]="config.type.ariaLabel"
                     [title]="config.type.title"></core-event-button>
                     
  </ng-container>

  <ng-container *ngSwitchCase="'event_icon'">
    <core-event-icon [field]="field"
                     [fieldEvent]="config.type.fieldEvent"
                     [icon]="config.type.icon"
                     [color]="config.type.color"
                     [action]="config.type.action"
                     [ariaLabel]="config.type.ariaLabel"
                     [title]="config.type.title"></core-event-icon>
                     
  </ng-container>
  

</span>

