<mat-form-field>
  <mat-label>{{title}}</mat-label>
  <textarea matInput [formControl]="field" placeholder="{{placeholder}}"></textarea>
  <mat-error *ngFor="let v of validatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
  </mat-error>

  <mat-error *ngFor="let v of asyncValidatorOpts">
    <span *ngIf="field.hasError(v.id)">{{v.message}}</span>
      <span *ngIf="field.hasError('notUnique') && v.route">
      &nbsp;
      <a *ngIf="v.route" routerLink="/{{v.route}}" [queryParams]="v.queryParams">Cargar</a></span>
  </mat-error>
</mat-form-field>